{{>mainHeader}}
<div class="main-content">
    {{>header}}
    <h2>{{name}}</h2>
    <img class="portrait other" src="/img/robot.png" alt="Robot">
    <p>This site was create by {{name}}. It uses data from mapbox.com amd darsky.net</p>
</div>
{{>footer}}