{{>mainHeader}}
<div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>
    <form>
        <input type="text" placeholder="Location" name="location">
        <button>Search</button>
        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </form>
</div>
{{>footer}}